<div ng-app="pickup_locater">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>NBA Information:</h1>
				<a href="#/partial1">Players</a> | <a href="#/partial2">Teams</a> | <a href="#/partial3">Rosters</a>
				<div ng-view=""></div>
	  		</div>
	  	</div>
  	</div>
</div>